<div id="wishlist-products" class="product-container">
  <!-- JavaScript will dynamically add the products here -->
</div>

<script src="{{ 'wishlist-page.js' | asset_url }}"></script>

{% schema %}
{
  "name": "Wishlist Page",
  "target": "section", 
  "settings": []
}
{% endschema %}
